.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        width: 120px;
        position: absolute;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    animation: pick-card-aninmation 1s ease-in-out;
    transform: scale(1.1) translateX(150px) translateY(-180px) rotate(-10deg);
}

.played-card {
    right: 25px;
    transform: scale(1.1) translateX(150px) translateY(-180px) rotate(-10deg);
}

.playerPosition {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.gameInfo {
    position: absolute;
    right: 100px;
    left: 100px;
    bottom: 32px;
}

@keyframes pick-card-aninmation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.1) translateX(150px) translateY(-180px) rotate(-10deg);
    }
}